/*------------------------------------*\
    TABLE OF CONTENTS
\*------------------------------------*/

/**
 *
 * FOUNDATIONS................................................
 * BASE.......................................................
 */

/*=============================================
 =                   Foundations               =
 =============================================*/

@import "foundation/all";

/*==============================================
 =                   Base                      =
 =============================================*/

@import "base/reset";
@import "base/root";

body {
    font-family: $body-font-family;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
}
