/*=============================================
=        Foundation - Typography              =
=============================================*/

/**
 * This file defines the default font sizes to be used on headings and texts. The defaults come
 * from the palette defined in _variables.scss.
 */

/*=============================================
=            Body font sizes                  =
=============================================*/

$body-font-size: var(--dse-body-font-size, $fs-sm) !default;
$body-font-weight: var(--dse-body-font-weight, $fw-normal) !default;

/*=============================================
=            Heading font sizes               =
=============================================*/

$h1-font-size: var(--dse-h1-font-size, $h-1) !default;
$h2-font-size: var(--dse-h2-font-size, $h-2) !default;
$h3-font-size: var(--dse-h3-font-size, $h-3) !default;
$h4-font-size: var(--dse-h4-font-size, $h-4) !default;
$h5-font-size: var(--dse-h5-font-size, $h-5) !default;
$h6-font-size: var(--dse-h6-font-size, $h-6) !default;

/*=============================================
=            Head font weights                =
=============================================*/

$h1-text-weight: var(--dse-h1-text-weight, $fw-black) !default;
$h2-text-weight: var(--dse-h2-text-weight, $fw-semibold) !default;
$h3-text-weight: var(--dse-h3-text-weight, $fw-bold) !default;
$h4-text-weight: var(--dse-h4-text-weight, $fw-medium) !default;
$h5-text-weight: var(--dse-h5-text-weight, $fw-normal) !default;
$h6-text-weight: var(--dse-h6-text-weight, $fw-light) !default;
