@import "foundation/all";

.dse-select {
    display: flex;
    flex-direction: column;

    position: relative;

    &__label {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include padding('xs');
        border: 1px solid $form-border-color;
        background: $form-bg-color;

        font-family: $body-font-family;

        cursor: pointer;
    }

    &__overlay {
        @include padding('none');
        @include margin('none');

        border: 1px solid $form-border-color;
        background-color: $form-bg-color;
        z-index: 99;

        list-style-type: none;

        box-shadow: map-get($shadows, 'base');

        position: absolute;

        width: 100%;
    }

    &__option {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        cursor: pointer;
        @include padding('xs');
    }

    &__option:hover {
        background-color: $form-bg-color-hover;
    }
}
