@import "foundation/all";

.dse-select {
    display: flex;
    flex-direction: column;

    position: relative;

    &__label {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include padding('xs');
        border: 1px solid $form-border-color;
        background: $form-bg-color;

        font-family: $body-font-family;

        cursor: pointer;
    }

    &__caret {
        transition: all 250ms ease;

        &--open {
            transform: rotate(180deg);
        }

        &--closed {
            transform: rotate(0deg);
        }
    }

    &__overlay {
        @include padding('none');
        @include margin('none');

        border: 1px solid $form-border-color;
        background-color: $form-bg-color;
        z-index: 99;
        display: none;

        list-style-type: none;

        box-shadow: map-get($shadows, 'base');

        position: absolute;

        width: 100%;
    }

    &__option {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        cursor: pointer;
        @include padding('xs');

        box-sizing: border-box;
    }

    &__option--highlighted {
        background-color: $form-bg-color-hover;
    }

    &__option--selected {
        background-color: $form-bg-option-selected;
        color: $form-color-option-selected;
    }
}

.dse-select__overlay {
    &--open {
        display: block;
    }
}
